*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.float {

  float: left;
}

.clear {

  clear: both;
}



.menu {

width: 500px;
height: 100px;;

background-color: pink


}

.nav {

  width: 100px;
  height: 300px;

  background-color: skyblue;

}

.content {

  width: 400px;
  height: 300px;

  background-color: plum;
}

.footer {
  
  width: 500px;
  height: 100px;

  background-color: rgb(150, 243, 150);

}

.container {
  /*크기 지정(너비)을 해줘야 반영이 됨.  */
  width: 500px;
  height: 500px;
  margin: auto;
}