* {
  border: 1px solid rgb(246, 130, 52);
  padding: 0;  
  margin: 0;
  box-sizing: border-box;
  /* 0;으로 초기화를 해준 후에 박스 사이징을 함*/
  /* 우리가 설정한 값이 테두리까지 포함된 값으로 설정됨 */
  /* 보더가 알아서 설정해줌 (바깥 여백 미포함) */
  /* 보통 작업할 때 시작부터 해주고 함, 나중에 넣게 되면 다 고쳐야함 */
  /* border 테두리 영역, margin 바깥쪽 영역, */

}

h1 {
  border: 2px solid red; 
  /* border-style: dotted  groove;  */     /* 시계 방향으로 생각 */ /* 두개 쓸 경우 [위아래] 세트, [왼오] 세트임 */
  /* border-radius: 80%;                   /* 모서리 둥글 */     /* %%도 가능하지만, 50% 넘어가면 동그라미 됨 */
  border-top-left-radius: 30px;           /* 원하는 위치만 동글 */
  border-top-color: rgb(49, 74, 238);
  border-bottom-width: 20px;
  
  /* [위 오른쪽 아래 왼쪽] */
  padding: 5px 3px 2px 1px;    /* 안쪽 여백 */
  margin: 10px 20px 30px;      /* 바깥 여백 */ 
  
  /* [위 아래] [왼,오] */
  margin: 10px 20px;

  margin-left: 30px;

  width: 150px; /* *크기 설정할 때  padding, border, margin도 그 영역에 포함되어야 함. (x2) */
  height: 100px; 

  box-shadow: inset 2px 4px 5px blueviolet; /*텍스트랑 동일함, 음수 값 넣어도 됨*/ /* inset 앞에 붙여줄 경우 박스 안 쪽에 그림자 넣을 수 있음 */


}