@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@font-face {
    font-family: 'Galmuri11-Condensed';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Condensed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: "Bitcount Grid Double", 'Galmuri11-Condensed',system-ui;
  font-size: large;
}

