body{
  background-image: url("../../images/images/galio.jpg");
  background-repeat: no-repeat;
  background-size: 500px 500px;
  /*cover 창 크기, contain body 영역만큼, 직접 조절도 가능*/
  background-position: center center;
  /*left right center*/
  height: 3000px;
  background-attachment: fixed;
  /*이미지 위치 고정, 스크롤 움직여도 센터에 있음*/

  /* 모든 속성은 이전과 같이 몰아서 써줘도 됨*/
  background: skyblue url("../../images/images/galio.jpg") no-repeat center center fixed;

  background: linear-gradient(to right bottom, blue, pink); /*수평이나 수직 그라데이션 ()안에 어떤식으로 방향할건지 씀*/
  background: radial-gradient(circle, skyblue, yellowgreen); /* 원형 그라데이션 */
 background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); /*웹그라이언트 활용하면 좋음*/


}

h1{
  background-color: #ff8082;
}

p{
  background-color: rgb(255, 100, 25);

}

.bg {

  background-color: rgba(100, 255, 50, 0.3);

}